@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: radial-gradient(#0e1720, #0e1b2c);
  background-image: radial-gradient(#0e1720, #0e1b2c);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
